@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@500&display=swap");

@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
